<!doctype html>
<head>
  <title>Noiszy News (Alpha)</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script>
        var i = 0;
        function process() {
            console.log("starting process");
//                $(function (i) {
//                    $("#content").empty();
//                });
            while (i < {{ number_of_results }}) {
                console.log("i ", i);

                //clear div contents

                $(function (i) {
                    $("<div>").load("/ajax/news2", function () {
                        $("#loading").empty();
                        $("#content").append($(this).html());
                    });
//          $("#content").load("/ajax/news2");
//          $("#content").load("/ajax/news2");
                });


//                $("#content").load("/ajax/news2/");
                 /*            url = "http://some.." + i
                var xhr = new XMLHttpRequest();
                xhr.open("GET", url, true);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4) {
                        alert(xhr.responseText)
                        i++
                        process()
                    }
                }
                xhr.send();
    */
                console.log("end loop iteration");
                i++;
            }

//            } else {
            console.log("done")
//            }
        }
        process();

/*      $(function () {
          $("#content").load("/ajax/news2");
      });
*/
  </script>

  <link rel="stylesheet" href="{{ url_for('static', filename='news.css') }}">
</head>

  <body>

  <h1>Noiszy News (Alpha)</h1>

    <div id="description">
      A pseudo-random sampling of stories from news sites, unfiltered & unpersonalized.<br>
      (Better description to come...)

        <p>You're going to get {{ number_of_results }} results (if nothing breaks).</p>

    </div>

    <div id="content">

      <div id="loading">
        Loading scraped news stories...this may take awhile.<br>
<!--        <img src="/static/imgs/loading.gif"> -->
      </div>

    </div>

  Footer.

  </body>
